.fnb-btn {
  font-size: 1.05em;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 4px;
}
.fnb-btn.outline {
  background-color: #fff;
  color: #ec6d4b;
  border: 1px solid;
}
.fnb-btn.outline:hover,
.fnb-btn.outline:active {
  background-color: #ec6d4b;
  color: #fff;
  border: 2px solid;
}
.fnb-btn.half-border {
  border-bottom: 2px solid;
}
.fnb-btn.half-border:hover {
  border: 1px solid;
  border-bottom: 2px solid;
}
.fnb-btn.border-btn {
  border: 2px solid;
}
.fnb-btn.mini {
  padding: 6px 20px;
}
.fnb-btn.primary-btn {
  background-color: #ec6d4b;
  color: #fff;
}
.fnb-btn.primary-btn:hover {
  background-color: #fff;
  color: #ec6d4b;
  border: 2px solid;
}
.fnb-btn.full {
  padding: 0.85em 1.8em;
}
.fnb-btn:active,
.fnb-btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}
.fnb-btn.bnw {
  background-color: #000;
  color: #fff;
  border: 1px solid;
}
.fnb-btn.fullwidth {
  display: block;
  width: 100%;
}
.fnb-btn.no-border {
  border: 0;
  background-color: transparent;
}
.fnb-btn.no-border:hover,
.fnb-btn.no-border:active {
  background-color: transparent;
  border: 0;
  color: #ec6d4b;
}
.fnb-btn.alternate {
  background-color: #159f70;
  color: #fff;
  border: 2px solid #159f70;
}
.fnb-btn.alternate:hover {
  background-color: transparent;
  color: #159f70;
}
body {
  color: #777;
  background: #4e4c4c;
}
a {
  color: #ec6d4b;
}
a:hover {
  color: #e7481d;
}
.text-success {
  color: #11a44a;
}
.btn-link {
  color: #ec6d4b;
}
.form-group {
  margin-bottom: 20px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav.side-menu > li.active,
.nav.side-menu > li.current-page {
  border-right: 5px solid #ec6d4b;
}
.nav.side-menu > li.active > a {
  background: #ec6d4b;
  background: #413f3f;
}
.nav-md ul.nav.child_menu li:before {
  background: #ec6d4b;
}
.nav-md ul.nav.child_menu li:after {
  border-color: #ec6d4b;
}
.site_title {
  padding-left: 0;
  text-align: center;
  color: #ec6d4b !important;
}
.left_col {
  background: #4e4c4c;
  z-index: 999 !important;
}
.nav_title {
  background: #4e4c4c;
}
.breadcrumb {
  margin-bottom: 0;
  padding: 8px 0;
}
@media (max-width: 767px) {
  .page-title .title_left {
    width: 100%;
  }
}
.dt-link {
  text-decoration: underline;
  color: #6b6b6b;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 10px 8px;
}
.dataTable .sorting,
.dataTable .sorting_asc,
.dataTable .sorting_desc {
  padding-right: 0 !important;
}
.dataTable .sorting:after,
.dataTable .sorting_asc:after,
.dataTable .sorting_desc:after {
  content: '';
  display: none !important;
}
.dataTable .sorting .sort-icon:before {
  content: "\f0dc";
  opacity: 0.5;
}
.dataTable .sorting_asc .sort-icon:before {
  content: "\f0de";
}
.dataTable .sorting_desc .sort-icon:before {
  content: "\f0dd";
}
.dataTable .sort-icon {
  display: inline-block;
  padding-left: 5px;
  font: normal normal normal 14px/1 FontAwesome;
}
.dataTable select.form-control.multi-dd {
  display: none;
}
.multiselect-container.dropdown-menu {
  left: -75px;
}
