// ---------------------------
// FORM ELEMENTS -----------
// ---------------------------

// Select
.fnb-select{
	border: 0;
	box-shadow: none;
	background-color: transparent;
	font-size: 1.15em;
    min-width: 90px;
    color: @text-color;
	&:active,&:focus{
		box-shadow: none;
	}
}

// inputs & textarea

.fnb-input,.fnb-textarea{
	border: 0;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    font-size: 1.1em;
    padding-left: 0;
    color: @text-color;
    &:active,&:focus{
    	border: 0;
    	border-color: inherit;
    	box-shadow: none;
    	border-bottom: 1px solid #ddd;
    }
}



