// ---------------------------
// HEADER STYLES -----------
// ---------------------------


.fnb-header{
	.navbar{
		padding: 1em 0;
		border: 0;
    	background-color: #fff;
    	box-shadow: @high-shadow-1;
    	margin-bottom: 0;
	}
	.nav-gap{
		padding: 0 30px;
	}
	&.trans-header{
		position: relative;
		z-index: 1;
		.navbar{
			background-color: transparent;
			box-shadow: none;
			.nav-color{
				color: #fff;
				&:hover{
					color: #c5c5c5;
				}
				&.quote-btn{
					background-color: transparent;
    				border-color: @accent-primary;
				}
			}
		}

	}
}

