// ---------------------------
// HEADER STYLES -----------
// ---------------------------


.fnb-header{
	.navbar{
		padding: 1em 0;
		border: 0;
    	background-color: #fff;
    	box-shadow: @high-shadow-1;
    	margin-bottom: 0;
	}
	.nav-gap{
		padding: 0 30px;
	}
	.fixed-section{
		display: none;
	}
	&.trans-header{
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 2;
		transition: all 0.5s ease;
		.navbar{
			background-color: transparent;
			box-shadow: none;
			.nav-color{
				color: #fff;
				&:hover{
					color: #c5c5c5;
				}
				&.quote-btn{
					background-color: transparent;
    				border-color: @accent-primary;
				}
			}
		}
		&.change{
    		background-color: #fff;
    		box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.32);
    		.navbar{
    			.nav-color{
    				color: #6b6b6b;
    			}
    			.home-icon{
    				font-size: 1.3em;
    				color: #6b6b6b;
    			}
    			li{
    				padding: 0 1em;
    				a{
    					padding-bottom: 8px;
    				}
    			}
    			.quote-btn{
    				color: #ec6d4b;
    				border: 0;
    				font-size: 1.15em;
    				padding-top: 8px;
    			}
    			&-brand,.city-select,.login,.side-menu{
    				display: none;
    			}
    		}
			.fixed-show{
				display: flex;
				align-items: center;
				justify-content: space-between;
				.navbar-right{
					float: none !important;
					padding-top: 0;
				}
				.fixed-section{
					display: block;
					.fnb-btn{
						padding: 0.5em 1.5em;
    					border: 2px solid @accent-primary;
					}
				}
			}
		}
	}
}

