

// ---------------------------
// ADD LISTING STYLES -----------
// ---------------------------

.page-intro{
	font-size: 0.85em;
	@media(min-width: 768px){
		justify-content: center;
		border: 1px solid @accent-primary;
		background-color: #fff;
		font-size: 1.2em;
		padding: 5px;
	}
}

.get-started{
	font-size: 0.8em;
	padding: 5px;
	@media(min-width: 768px){
		font-size: 1em;
		padding: 20px 15px;
		color: lighten(@grey-darker, 10%);
		.tips{
			font-size: 1.2em;
			// color: #797979;
			font-weight: 500;
			margin-top: -10px;
			span{
				font-size: 2em;
			}
		}
		li{
			line-height: 2em;
		}
	}
}

.gs-steps{
	a{
		display: flex;
		padding: 15px 10px;
		justify-content: space-between;
		font-weight: 500;
		color: lighten(@grey-darker, 10%);
		i{
			display: none;
		}
		&.active{
			color: @accent-secondary;
			i{
				display: block;
			}
		}
		&.hover{
			color: @accent-secondary;
		}
	}
	@media(min-width: 768px){
		margin-top: 20px;
		a{
			padding: 10px 15px;
		}
	}
}

.gs-form{
	padding: 15px;
	.verified{
		.c-title{
			margin: 0;
			font-size: 1em;
		}
	}
	.verified-toggle{
		p{
			font-size: 0.9em;
		}
	}
	&__footer{
		background-color: #f7f7f7;
		padding: 20px;
		.save-btn{
			margin: 0 0 0 auto;
		}
	}
}

.view-sample{
	padding: 15px;
	font-weight: bold;
	color: @grey-darker;
	a{
		color: @accent-primary;
	}
}

.why-premium{
	padding: 15px;
	.go-premium{
		// color: @grey-darker;
	}
}




// ---------------------------
// CATEGORY MODAL -----------
// ---------------------------

.category-modal{
	.modal-header{
		justify-content: space-between;
    	padding: 0;
	}
	.back{
		flex: 1;
		&-btn{
			padding-left: 0;
		}
	}
	.instructions{
		background-color: #f9f9f9;
    	padding: 1.5em;
    	&__title{
    		margin-bottom: 10px;
    	}
    	.cat-title{
    		margin-bottom: 0;
    	}
	}
}

.node-select{
	margin-top: 2.5em;
	align-items: inherit;
	.nav{
		flex-direction: column;
    	border: 0;
    	flex: 0.3;
    	padding-right: 3em;
    	li{
    		width: 100%;
    		float: none;
    		a{
    			border-radius: 0;
    			padding: 0.8em;
    			margin: 0;
    			color: #000;
    			font-size: 1.1em;
    			border: 1px solid #ddd;
    			transition: all 0.5s ease;
    			&:hover{
    				background-color: @accent-secondary;
    				color: #fff;
    			}
    		}
    		&.active{
    			a{
    				background-color: @accent-secondary;
    				color: #fff;
    				&:after,&:before{
						left: 100%;
						top: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
					}
					&:after{
						border-color: rgba(39, 183, 176, 0);
						border-left-color: @accent-secondary;
						border-width: 8px;
						margin-top: -8px;
					}
					&:before{
						border-color: rgba(39, 183, 176, 0);
						border-left-color: @accent-secondary;
						border-width: 11px;
						margin-top: -11px;		
					}
    			}
    		}
    	}
	}
	.tab-content{
		flex: 1;
		.nodes{
			height: 410px;
	    	display: flex;
	    	flex-wrap: wrap;
	    	overflow-y: auto;
    		padding-left: 1em;
			li{
				flex: 1 0 50%;
			}
			label{
				margin-bottom: 1em;
			}
			.checkbox{
				margin-top: 1px;
				&:checked{
					& + .nodes__text{
						font-weight: 500;
					}
				}
			}
			&__text{
				margin-bottom: 0;
				cursor: pointer;
				padding-left: 3px;
			}
		}
	}
}






