

// ---------------------------
// LIST VIEW STYLES -----------
// ---------------------------


.search-section{
	position: relative;
    top: 2em;
    z-index: 1;
    &__title{
    	color: #fff;
    	font-weight: 400;
    	margin-bottom: 1em;
    }
    .search-boxes{
    	padding: 0.8em 1em;
    	background-color: #fff;
    	border-radius: 4px;
    	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.23);
    }
    .city{
    	width: 15%;
    }
    .category,.business{
    	width: 40%;
    }
    .category{
    	margin: 0 2em;
    }
    .icons{
    	font-size: 1.5em;
    }
    .fnb-select{
    	color: @text-color;
    }
    .fnb-input{
    	border-bottom: 0;
    	padding-left: 0.5em;
    	font-size: 1.2em;
    	font-weight: 300;
    	color: @text-color;
    	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	      font-weight: 400;
	      color: @text-color;
	    }
	    &::-moz-placeholder { /* Firefox 19+ */
	      font-weight: 400;
	      color: @text-color;
	    }
    }
}