@import "_var";
@import "components/_buttons";
// @import "layout/_forms";
// @import "components/_radio";

body{
	color: #555;
	background: darken(@grey-darker, 10%);
}
a{
	color: @accent-primary;
	&:hover{
		color: darken(@accent-primary, 10%);
	}
}
.text-success{
	color: @success;
}
.btn-link{
	color: @accent-primary;
}
.form-group{
	margin-bottom: 20px;
}
.flex{
	display: flex;
}
.flex-space-between{
	justify-content: space-between;
}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {
	border-right: 5px solid lighten(@accent-primary, 0%);
}
.nav.side-menu>li.active>a{
	background: @accent-primary;
	background: darken(@grey-darker, 15%);
}
.nav-md ul.nav.child_menu li{
	&:before{
		background: @accent-primary;
	}
	&:after{
		border-color: @accent-primary;
	}
}
.nav li li li.current-page{
	background: rgba(255,255,255,.05);
}

.site_title{
	padding-left: 0;
	text-align: center;
	color: @accent-primary !important;
}

.left_col {
	background: darken(@grey-darker, 10%);
	z-index: 999 !important;
}
.nav_title{
	background: darken(@grey-darker, 10%);
}
.breadcrumb{
	margin-bottom: 0;
	padding: 8px 0;
}
.page-title .title_left{
	@media(max-width: 767px){
		width: 100%;
	}
}

.dt-link{
	text-decoration: underline;
	color: @text-color;
}

.row-actions{
	text-align: right;
	a{
		padding: 0 10px;
	}
}

.table{
	&>tbody>tr>td,
	&>tbody>tr>th,
	&>tfoot>tr>td,
	&>tfoot>tr>th,
	&>thead>tr>td,
	&>thead>tr>th{
		padding: 10px 8px;
	}
}

.dataTable{
	.sorting, .sorting_asc, .sorting_desc{
		padding-right: 0 !important;
		&:after{
			content: '';
			display: none !important;
		}
	}
	.sorting{
		.sort-icon{
			&:before{
				content: "\f0dc";
				opacity: 0.5;
			}
		}
	}
	.sorting_asc{
		.sort-icon{
			&:before{
				content: "\f0de";
			}
		}
	}
	.sorting_desc{
		.sort-icon{
			&:before{
				content: "\f0dd";
			}
		}
	}
	.sort-icon{
		display: inline-block;
		padding-left: 5px;
		// width: 16px;
		// height: 16px;
		font: normal normal normal 14px/1 FontAwesome;
	}
	select.form-control.multi-dd{
		display: none;
	}
}

.multiselect-container.dropdown-menu{
	left: -75px;
}

.form-control{
	&.no-edit{
		padding: 0;
		border: 0;
		box-shadow: none;
		height: auto;
		font-size: inherit;
		pointer-events: none;
		resize: none;
	}
}